$foundation-palette: (
        primary: #EBEFEF,
        secondary: #767676,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);


$body-background:#EBEFEF;

$global-width: 100%;

$body-font-family: 'Open Sans', sans-serif;

$body-font-color: #2f545b;